:root {
    --cat1: #f5e0dc;
    --cat2: #f2cdcd;
    --cat3: #f5c2e7;
    --cat4: #cba6f7;
    --cat5: #f38ba8;
    --cat6: #eba0ac;
    --cat7: #fab387;
    --cat8: #f9e2af;
    --cat9: #a6e3a1;
    --cat10: #94e2d5;
    --cat11: #89dceb;
    --cat12: #74c7ec;
    --cat13: #89b4fa;
    --cat14: #b4befe;
    --shad1: #CDD6F4;
    --shad2: #BAC2DE;
    --shad3: #A6ADC8;
    --shad4: #9399B2;
    --shad5: #7F849C;
    --shad6: #6C7086;
    --shad7: #585B70;
    --shad8: #45475A;
    --shad9: #313244;
    --shad10: #1E1E2E;
    --shad11: #181825;
    --shad12: #11111B;
}