@font-face {
    font-family: 'Victor Mono';
    src: url(resources/fonts/VictorMono-Regular.woff2) format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Victor Mono';
    src: url(resources/fonts/VictorMono-Bold.woff2) format('woff2');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Victor Mono';
    src: url(resources/fonts/VictorMono-Italic.woff2) format('woff2');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Victor Mono';
    src: url(resources/fonts/VictorMono-BoldItalic.woff2) format('woff2');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: 'Crazy Killer';
    src: url(resources/fonts/CRAZK___.TTF) format('truetype');
}
@font-face {
    font-family: 'Grunge';
    src: url(resources/fonts/GRUNGE.TTF) format('truetype');
}
@font-face {
    font-family: 'I Know a Ghost';
    src: url(resources/fonts/iknowaghost.ttf) format('truetype');
}
@font-face {
    font-family: 'Slender';
    src: url(resources/fonts/newSlendermanswriting.ttf) format(truetype);
}

:root {
    --cat1: #f5e0dc;
    --cat2: #f2cdcd;
    --cat3: #f5c2e7;
    --cat4: #cba6f7;
    --cat5: #f38ba8;
    --cat6: #eba0ac;
    --cat7: #fab387;
    --cat8: #f9e2af;
    --cat9: #a6e3a1;
    --cat10: #94e2d5;
    --cat11: #89dceb;
    --cat12: #74c7ec;
    --cat13: #89b4fa;
    --cat14: #b4befe;
    --shad1: #CDD6F4;
    --shad2: #BAC2DE;
    --shad3: #A6ADC8;
    --shad4: #9399B2;
    --shad5: #7F849C;
    --shad6: #6C7086;
    --shad7: #585B70;
    --shad8: #45475A;
    --shad9: #313244;
    --shad10: #1E1E2E;
    --shad11: #181825;
    --shad12: #11111B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Victor Mono', monospace;
    font-weight: normal;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    background: #CDD6F4;
    background: radial-gradient(circle farthest-side at 50% 200px, #CDD6F4 8%, #BAC2DE 16%, #A6ADC8 25%, #9399B2 33%, #7F849C 41%, #6C7086 50%, #585B70 58%, #45475A 66%, #313244 75%, #1E1E2E 83%, #181825 91%, #11111B 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    cursor: url(resources/images/flashlight.png), auto;
    transition: background-color 3s ease-in, background-image 3s;
}

a:hover,
button:hover {
    cursor: url(resources/images/click.png), auto;
}

h2 {
    color: var(--cat4);
    font-style: italic;
    margin-bottom: 15px;
}

header {
    height: 100vh;
}

.guise {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--shad11);
    background-image: url(resources/images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.head {
    height: 100vh;
    background-color: black;
    position: relative; 
    transition: 0.2s;
    mix-blend-mode: multiply;
    z-index: 2;
} 

.fake-power img:hover {
    cursor: url(resources/images/point.png), auto;
}

.power {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
}

.fake-power {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 50%;
    z-index: 10;
    transition: box-shadow 1500ms;
}

.fake-power img {
    height: 125%;
    position: relative;
    bottom: 10px;
    right: 10px;
    display: none;
}

.fake-power:hover {
    box-shadow: 0 0 100px var(--cat10), inset 0 0 80px var(--cat10);
}

.power img {
    height: 100%;
}

.glow {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-image: radial-gradient(rgba(255, 255, 255, 0.4), transparent 60%);
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
}


.light-box {
    animation-delay: 0.5s;
    height: 100%;
}

.let-there-be-light {
    display: initial;
}

.the-light {
    height: 100%;
    transition: 1s;
}

.navlink {
    animation-delay: 2s;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 2em;
    font-style: italic;
    background-color: rgba(49 50 68 / 0.506);
    border-radius: 20px;
    filter:drop-shadow(0 0 10px var(--shad9));
    margin-bottom: 150px;
    transition: 1s;
}

.navlink:nth-of-type(1) {
    color: var(--cat4);
}

.navlink:nth-of-type(2) {
    color:var(--cat5);
}

.navlink:nth-of-type(3) {
    color:var(--cat9);
}

.navlink:nth-of-type(4) {
    color:var(--cat12);
}

.navbar {
    display: none;
    width:80%;
    margin: 0 auto 0 auto;
    height: 500px;
    transition: 1s;
}

.flexicution {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tuckNav {
    height: 200px;
    font-size: 1em;
}

.tucklink {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.tuckLogo {
    height: 150%;
    position: relative;
    bottom: 50px;
}

.peekaboo {
    display: none;
    justify-content: center;
}

section {
    margin: 80px 10%;
}

.about > p {
    padding: 10px;
}

.about > p:nth-of-type(1){
    color: var(--cat11);
    font-size: 1.1em;
}

.about > p:nth-of-type(2){
    color: var(--cat7);
}

.about > p:nth-of-type(3){
    color: var(--cat3);
}

.about > p:nth-of-type(4){
    color: var(--cat8);
}

.about > p:nth-of-type(5){
    color: var(--cat13);
}